body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003049;
}
button {
    background-color: #c1121f;
    font-size: 25px;
    font-weight: bold;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 15px;
    background-color: #fdf0d5;
    border-radius: 15px;
}
#screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
#expression,
#result {
    font-size: 30px;
}
#calculator-btns {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 10px;
}
.span2 {
    grid-column: span 2;
}